*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   background-color: black  ;
    color: white;
    overflow-x: hidden;
}
.h1{
    margin: 16px;
    text-indent: 30px;
}
.find{
    color: rgb(255, 196, 0);
}
img{
    width: 100%;
    height: 100%;
}
#result{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    column-gap: 50px;
    margin: 8px;
     margin-top: 80px;
     padding: 20px;
}
.text{
    padding: 8px;
}
.div{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    font-size: 1.2rem;
    max-width: 440px;
    /* text-align: left; */
}
.img-div{
    border: solid thick whitesmoke;
    max-width: 450px;
    height: 450px;
    margin: 8px;
    /* margin: auto; */
}
.search{
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    /* background-color: aqua; */
    margin-bottom: 10px;
    margin-top: 50px;
}
input{
    padding: 12px;
    border-radius: 50px;
    border: none;
    min-width: none;
    max-width: 300px;
    outline-color:  rgb(255, 196, 0);
    outline-offset: 1px;
    outline-width: 1px;
}


button{
     padding: 12px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 196, 0);;
}
@media screen and (max-width:740px){
#result{
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 50px;
}
.div{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    font-size: 1.3rem;
    max-width: 440px;
    text-align: left;
}
.h1{
    text-indent: 10px;
   overflow-wrap: anywhere;
}
}
@media screen and (max-width:270px){
    .search{
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    column-gap: 0px;
    /* background-color: aqua; */
    margin-bottom: 20px;
    margin-top: 50px;
    min-width: 0px;
    padding: 10px;
}
input{
    padding: 12px;
    border-radius: 50px;
    border: none;
    min-width: none;
    max-width: 100%;
}
.h1{
    margin: 16px;
    text-indent: 0px;
    max-width: 100%;
}
}

.svg{
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;

}
.animated{
    width: 100%;
    height: 100%;
}
.error{
    display: none;
}